<nav class="sidebar">
    @for(item of items(); track item.label){
        @if(item.route){
            <a [routerLink]="item.route" class="sidebar-btn" routerLinkActive="active">
                <span class="material-icons">{{item.icon}}</span>
                <span class="label">{{item.label}}</span>
            </a>
        }@else if (item.action) {
            <a (click)="item.action()" class="sidebar-btn" >
            <span class="material-icons">{{item.icon}}</span>
            <span class="label">{{item.label}}</span>
        </a>
        }
    }
</nav>
