<div class="toast-container">
    @for (toast of notificationService.toasts$(); track toast.id) {
        <div class="toast" [ngClass]="toast.type" @toastAnimation>
            <div class="toast-content">
                <lucide-icon [img]="icons[toast.type]" [size]="20" class="icon"></lucide-icon>
                <span class="message">{{ toast.message }}</span>
            </div>
            <button class="close-btn" (click)="notificationService.remove(toast.id)">×</button>
        </div>
    }
</div>
